.vertical_triangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid red;
  margin-right: 8px;
  margin-top: 2px;
}

.handstand_traiangle {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid green;
  margin-right: 8px;
  margin-top: 2px;
}