.topbar{
    width: 100%;
    background-color: #333;
    columns: white;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.topbar h1{
    margin: 0;
    font-size: 24px;
    color: white;
}